<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lifespan</title>

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.png">

    <!--Jquery from cdn-->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!--home page js-->
    <script defer src="../skeleton.js"></script>
    <script defer src="../homeColorTheme.js"></script>
    <script defer src="../home.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../app.css">

    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,600' rel='stylesheet' type='text/css'>

    <!--icons-->
    <script src="https://kit.fontawesome.com/ddcc34e64d.js" crossorigin="anonymous"></script>
</head>
<body id="home-body">
    <!--skeleton-->
    <div class="navbar" id="navbar">
        <div id="switch">
            <div id="switch-btn"></div>
            </div>
        <i class="fa-solid fa-bars" id="sidebar-btn"></i>
        <p id="navbar-heading">LIFESPAN</p>
        <div id="navbar-toggle"></div>
        <div id="navbar-options"></div>
    </div>

    <div class="sidebar noFocus">
        <ul id="sidebar-list">
            <li data-path="home"><%= sidebar_list_home%></li>
            <li data-path="about"><%= sidebar_list_about%></li>
            <li data-path="github"><%= sidebar_list_github%></li>
            <li data-path="sources"><%= sidebar_list_sources%></li>
        <!--<li data-path="inspiration"><%= sidebar_list_inspiration%></li>
            <li data-path="motivation"><%= sidebar_list_motivation%></li>
            <li data-path="updates"><%= sidebar_list_updates%></li>
        --> 
        </ul>
    </div>
    <!--/home-->
    <div class="home-timer noFocus">
        <div id="home-timer-countup">00:00:00:00</div>
    </div>

    <div class="home-data">
        <div id="home-data-field-banana" class="home-data-field" data-stat="banana">
            <p id="home-data-stat-banana" class="home-data-stat" data-stat="banana">0</p>  
            <div id="home-data-desc-banana" class="home-data-desc" data-stat="banana"><%= home_data_desc_banana %></div>
        </div>

        <div id="home-data-field-trees" class="home-data-field" data-stat="trees">
            <p id="home-data-stat-trees" class="home-data-stat" data-stat="trees"">0</p>
            <div id="home-data-desc-trees" class="home-data-desc" data-stat="trees"><%= home_data_desc_trees %></div>
        </div> 

        <div id="home-data-field-searches" class="home-data-field" data-stat="searches">
            <p id="home-data-stat-searches" class="home-data-stat" data-stat="searches">0</p>
            <div id="home-data-desc-searches" class="home-data-desc" data-stat="searches"><%= home_data_desc_searches %></div>
        </div>

        <div id="home-data-field-stars" class="home-data-field" data-stat="stars">
            <p id="home-data-stat-stars" class="home-data-stat" data-stat="stars">0</p>
            <div id="home-data-desc-stars" class="home-data-desc" data-stat="stars"><%= home_data_desc_stars %></div>
        </div>

        <div id="home-data-field-walking" class="home-data-field" data-stat="walking">
            <p id="home-data-stat-walking" class="home-data-stat" data-stat="walking">0</p>
            <div id="home-data-desc-walking" class="home-data-desc" data-stat="walking"><%= home_data_desc_walking %></div>
        </div>

        <div id="home-data-field-lightspeed" class="home-data-field" data-stat="lightspeed">
            <p id="home-data-stat-lightspeed" class="home-data-stat" data-stat="lightspeed">0</p>
            <div id="home-data-desc-lightspeed" class="home-data-desc" data-stat="lightspeed"><%= home_data_desc_lightspeed %></div>
        </div>

        <div id="home-data-field-peopleBorn" class="home-data-field" data-stat="peopleBorn">
            <p id="home-data-stat-peopleBorn" class="home-data-stat" data-stat="peopleBorn">0</p>
            <div id="home-data-desc-peopleBorn" class="home-data-desc" data-stat="peopleBorn"><%= home_data_desc_peopleBorn %></div>
        </div> 

        <div id="home-data-field-peopleDied" class="home-data-field" data-stat="peopleDied">
            <p id="home-data-stat-peopleDied" class="home-data-stat" data-stat="peopleDied">0</p>
            <div id="home-data-desc-peopleDied" class="home-data-desc" data-stat="peopleDied"><%= home_data_desc_peopleDied %></div>
        </div>

        <div id="home-data-field-hheartbeats" class="home-data-field" data-stat="hheartbeats">
            <p id="home-data-stat-hheartbeats" class="home-data-stat" data-stat="hheartbeats">0</p>
            <div id="home-data-desc-hheartbeats" class="home-data-desc" data-stat="hheartbeats"><%= home_data_desc_hheartbeats %></div>
        </div>

        <div id="home-data-field-timeLost" class="home-data-field" data-stat="timeLost">
            <p id="home-data-stat-timeLost" class="home-data-stat" data-stat="timeLost">0</p>
            <div id="home-data-desc-timeLost" class="home-data-desc" data-stat="timeLost"><%= home_data_desc_timeLost %></div>
        </div>

        <div id="home-data-field-secondsLeft" class="home-data-field" data-stat="secondsLeft">
            <p id="home-data-stat-secondsLeft" class="home-data-stat" data-stat="secondsLeft">0</p>
            <div id="home-data-desc-secondsLeft" class="home-data-desc" data-stat="secondsLeft"><%= home_data_desc_secondsLeft %></div>
        </div>

        <div id="home-data-field-tweets" class="home-data-field" data-stat="tweets">
            <p id="home-data-stat-tweets" class="home-data-stat" data-stat="tweets">0</p>
            <div id="home-data-desc-tweets" class="home-data-desc" data-stat="tweets"><%= home_data_desc_tweets %></div>
        </div> 

        <div id="home-data-field-youtubeWatches" class="home-data-field" data-stat="youtubeWatches">
            <p id="home-data-stat-youtubeWatches" class="home-data-stat" data-stat="youtubeWatches">0</p>
            <div id="home-data-desc-youtubeWatches" class="home-data-desc" data-stat="youtubeWatches"><%= home_data_desc_youtubeWatches %></div>
        </div>

        <div id="home-data-field-earthTravels" class="home-data-field" data-stat="earthTravels">
            <p id="home-data-stat-earthTravels" class="home-data-stat" data-stat="earthTravels">0</p>
            <div id="home-data-desc-earthTravels" class="home-data-desc" data-stat="earthTravels"><%= home_data_desc_earthTravels %></div>
        </div>

        <div id="home-data-field-reading" class="home-data-field" data-stat="reading">
            <p id="home-data-stat-reading" class="home-data-stat" data-stat="reading">0</p>
            <div id="home-data-desc-reading" class="home-data-desc" data-stat="reading"><%= home_data_desc_reading %></div>
        </div>

        <div id="home-data-field-blinking" class="home-data-field" data-stat="blinking">
            <p id="home-data-stat-blinking" class="home-data-stat" data-stat="blinking">0</p>
            <div id="home-data-desc-blinking" class="home-data-desc" data-stat="blinking"><%= home_data_desc_blinking %></div>
        </div>

        <div id="home-data-field-pulse" class="home-data-field" data-stat="pulse">
            <p id="home-data-stat-pulse" class="home-data-stat" data-stat="pulse">0</p>
            <div id="home-data-desc-pulse" class="home-data-desc" data-stat="pulse"><%= home_data_desc_pulse %></div>
        </div> 

        <div id="home-data-field-debt" class="home-data-field" data-stat="debt">
            <p id="home-data-stat-debt" class="home-data-stat" data-stat="debt">0</p>
            <div id="home-data-desc-debt" class="home-data-desc" data-stat="debt"><%= home_data_desc_debt %></div>
        </div>

        <div id="home-data-field-strikes" class="home-data-field" data-stat="strikes">
            <p id="home-data-stat-strikes" class="home-data-stat" data-stat="strikes">0</p>
            <div id="home-data-desc-strikes" class="home-data-desc" data-stat="strikes"><%= home_data_desc_strikes %></div>
        </div>

        <div id="home-data-field-phones" class="home-data-field" data-stat="phones">
            <p id="home-data-stat-phones" class="home-data-stat" data-stat="phones">0</p>
            <div id="home-data-desc-phones" class="home-data-desc" data-stat="phones"><%= home_data_desc_phones %></div>
        </div>

        <div class="home-data-text noFocus"><%= home_data_text %></div>
    </div>
    <!--skeleton-->
    <div class="footer noFocus" id="home-footer">
        <p id="footer-text-1"><%= footer_text_1 %></p>
        <div class="footer-ressources">
            <a href="https://jquery.com" id="footer-res1">jQuery</a>
            <a href="https://fontawesome.com" id="footer-res2">Font Awsome</a>
            <a href="https://fonts.google.com" id="footer-res3">Google Fonts</a>
            <a href="https://htmlcolorcodes.com/color-picker/" id="footer-res4">Color Picker</a>
            <a href="https://stackoverflow.com" id="footer-res5">Stackoverflow</a>
        </div>

        <p id="footer-text-2">© Felix Hohmann, 2022</p>

        <ul id="footer-langs">
            <li><a href="/de/home">Deutsch</a></li>
            <li><a href="/en/home">English</a></li>
        </ul>
    </div>
</body>
</html>