<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFESPAN</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">

     <!--Jquery from cdn-->
     <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

     <!--home page js-->
     <script defer src="../skeleton.js"></script>
     <script defer src="../homeColorTheme.js"></script>
     <script defer src="../home.js"></script>
 
     <!--css-->
     <link rel="stylesheet" href="../app.css">
 
     <!--fonts-->
     <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Orbitron:400,600' rel='stylesheet' type='text/css'>
 
     <!--icons-->
     <script src="https://kit.fontawesome.com/ddcc34e64d.js" crossorigin="anonymous"></script>
</head>
<body id="home-body">

    <!--skeleton-->

    <div class="navbar" id="navbar">
        <div id="switch">
            <div id="switch-btn"></div>
            </div>
        <i class="fa-solid fa-bars" id="sidebar-btn"></i>
        <p id="navbar-heading">LIFESPAN</p>
        <div id="navbar-toggle"></div>
        <div id="navbar-options"></div>
    </div>

    <div class="sidebar">
        <ul id="sidebar-list">
            <li data-path="home"><%= sidebar_list_home%></li>
            <li data-path="about"><%= sidebar_list_about%></li>
            <li data-path="ispiration"><%= sidebar_list_inspiration%></li>
            <li data-path="motivation"><%= sidebar_list_motivation%></li>
            <li data-path="updates"><%= sidebar_list_updates%></li>
            <li data-path="sources"><%= sidebar_list_sources%></li>
        </ul>
    </div>


    <!--/home-->

    <div class="home-timer">
        <div id="home-timer-countup">00:00:00:00</div>
    </div>

    <div class="home-data">
        <div id="home-data-field-banana" class="home-data-field" data-stat="banana">
            <p id="home-data-stat-banana" class="home-data-stat" data-stat="banana">0</p>  
            <div id="home-data-desc-banana" class="home-data-desc" data-stat="banana"><%= home_data_desc_banana %></div>
        </div>

        <div id="home-data-field-trees" class="home-data-field" data-stat="trees">
            <p id="home-data-stat-trees" class="home-data-stat" data-stat="trees"">0</p>
            <div id="home-data-desc-trees" class="home-data-desc" data-stat="trees"><%= home_data_desc_trees %></div>
        </div> 

        <div id="home-data-field-animals" class="home-data-field" data-stat="animals">
            <p id="home-data-stat-animals" class="home-data-stat" data-stat="animals">0</p>
            <div id="home-data-desc-animals" class="home-data-desc" data-stat="animals"><%= home_data_desc_animals %></div>
        </div>

        <div id="home-data-field-stars" class="home-data-field" data-stat="stars">
            <p id="home-data-stat-stars" class="home-data-stat" data-stat="stars">0</p>
            <div id="home-data-desc-stars" class="home-data-desc" data-stat="stars"><%= home_data_desc_stars %></div>
        </div>

        <div id="home-data-field-walking" class="home-data-field" data-stat="walking">
            <p id="home-data-stat-walking" class="home-data-stat" data-stat="walking">0</p>
            <div id="home-data-desc-walking" class="home-data-desc" data-stat="walking"><%= home_data_desc_walking %></div>
        </div>

        <div id="home-data-field-lightspeed" class="home-data-field" data-stat="lightspeed">
            <p id="home-data-stat-lightspeed" class="home-data-stat" data-stat="lightspeed">0</p>
            <div id="home-data-desc-lightspeed" class="home-data-desc" data-stat="lightspeed"><%= home_data_desc_lightspeed %></div>
        </div>

        <div id="home-data-field-peopleBorn" class="home-data-field" data-stat="peopleBorn">
            <p id="home-data-stat-peopleBorn" class="home-data-stat" data-stat="peopleBorn">0</p>
            <div id="home-data-desc-peopleBorn" class="home-data-desc" data-stat="peopleBorn"><%= home_data_desc_peopleBorn %></div>
        </div> 

        <div id="home-data-field-peopleDied" class="home-data-field" data-stat="peopleDied">
            <p id="home-data-stat-peopleDied" class="home-data-stat" data-stat="peopleDied">0</p>
            <div id="home-data-desc-peopleDied" class="home-data-desc" data-stat="peopleDied"><%= home_data_desc_peopleDied %></div>
        </div>

        <div id="home-data-field-earthsEnd" class="home-data-field" data-stat="earthsEnd">
            <p id="home-data-stat-earthsEnd" class="home-data-stat" data-stat="earthsEnd">0</p>
            <div id="home-data-desc-earthsEnd" class="home-data-desc" data-stat="earthsEnd"><%= home_data_desc_earthsEnd %></div>
        </div>

        <div id="home-data-field-lifetime" class="home-data-field" data-stat="lifetime">
            <p id="home-data-stat-lifetime" class="home-data-stat" data-stat="lifetime">0</p>
            <div id="home-data-desc-lifetime" class="home-data-desc" data-stat="lifetime"><%= home_data_desc_lifetime%></div>
        </div>

        <div id="home-data-field-houses" class="home-data-field" data-stat="houses">
            <p id="home-data-stat-houses" class="home-data-stat" data-stat="houses">0</p>
            <div id="home-data-desc-houses" class="home-data-desc" data-stat="houses"><%= home_data_desc_houses %></div>
        </div>

        <div id="home-data-field-tweets" class="home-data-field" data-stat="tweets">
            <p id="home-data-stat-tweets" class="home-data-stat" data-stat="tweets">0</p>
            <div id="home-data-desc-tweets" class="home-data-desc" data-stat="tweets"><%= home_data_desc_tweets %>.</div>
        </div> 

        <div id="home-data-field-youtubeWatches" class="home-data-field" data-stat="youtubeWatches">
            <p id="home-data-stat-youtubeWatches" class="home-data-stat" data-stat="youtubeWatches">0</p>
            <div id="home-data-desc-youtubeWatches" class="home-data-desc" data-stat="youtubeWatches"><%= home_data_desc_youtubeWatches %></div>
        </div>

        <div id="home-data-field-calls" class="home-data-field" data-stat="calls">
            <p id="home-data-stat-calls" class="home-data-stat" data-stat="calls">0</p>
            <div id="home-data-desc-calls" class="home-data-desc" data-stat="calls"><%= home_data_desc_calls %></div>
        </div>

        <div id="home-data-field-reading" class="home-data-field" data-stat="reading">
            <p id="home-data-stat-reading" class="home-data-stat" data-stat="reading">0</p>
            <div id="home-data-desc-reading" class="home-data-desc" data-stat="reading"><%= home_data_desc_reading %></div>
        </div>

        <div id="home-data-field-x1" class="home-data-field" data-stat="x1">
            <p id="home-data-stat-x1" class="home-data-stat" data-stat="x1">0</p>
            <div id="home-data-desc-x1" class="home-data-desc" data-stat="x1"><%= home_data_desc_x1 %></div>
        </div>

        <div id="home-data-field-x2" class="home-data-field" data-stat="x2">
            <p id="home-data-stat-x2" class="home-data-stat" data-stat="x2">0</p>
            <div id="home-data-desc-x2" class="home-data-desc" data-stat="x2"><%= home_data_desc_x2 %></div>
        </div> 

        <div id="home-data-field-x3" class="home-data-field" data-stat="x3">
            <p id="home-data-stat-x3" class="home-data-stat" data-stat="x3">0</p>
            <div id="home-data-desc-x3" class="home-data-desc" data-stat="x3"><%= home_data_desc_x3 %></div>
        </div>

        <div id="home-data-field-x4" class="home-data-field" data-stat="x4">
            <p id="home-data-stat-x4" class="home-data-stat" data-stat="x4">0</p>
            <div id="home-data-desc-x4" class="home-data-desc" data-stat="x4"><%= home_data_desc_x4 %></div>
        </div>

        <div id="home-data-field-x5" class="home-data-field" data-stat="x5">
            <p id="home-data-stat-x5" class="home-data-stat" data-stat="x5">0</p>
            <div id="home-data-desc-x5" class="home-data-desc" data-stat="x5"><%= home_data_desc_x5 %></div>
        </div>

        <div class="home-data-text"><%= home_data_text %></div>
    </div>

    <div class="footer" id="home-footer">
        <p id="footer-text-1"><%= footer_text_1 %></p>
        <div class="footer-ressources">
            <a href="https://jquery.com" id="footer-res1">jQuery</a>
            <a href="https://fontawesome.com" id="footer-res2">Font Awsome</a>
            <a href="https://google.com" id="footer-res3">Google Fonts</a>
            <a href="https://google.com" id="footer-res1">EMPTY SLOT 3</a>
            <a href="https://google.com" id="footer-res1">EMPTY SLOT 4</a>
            <a href="https://google.com" id="footer-res1">EMPTY SLOT 5</a>
        </div>

        <p id="footer-text-2">© Felix Hohmann, 2022</p>
    </div>
    
</body>
</html>