<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>Lifespan</title>

    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="favicon.png">

    <!--Jquery from cdn-->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!--index page js-->
    <script defer src="../skeleton.js"></script>
    <script defer src="../about.js"></script>
    <script defer src="../indexColorTheme.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../app.css">

    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!--icons-->
    <script src="https://kit.fontawesome.com/ddcc34e64d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--skeleton-->
    <div class="navbar" id="navbar">
        <div id="switch">
            <div id="switch-btn"></div>
        </div>
        <i class="fa-solid fa-bars" id="sidebar-btn"></i>
        <p id="navbar-heading">LIFESPAN</p>
        <div id="navbar-toggle"></div>
        <div id="navbar-options"></div>
    </div>

    <div class="sidebar noFocus">
        <ul id="sidebar-list">
            <li data-path="home"><%= sidebar_list_home%></li>
            <li data-path="about"><%= sidebar_list_about%></li>
            <li data-path="github"><%= sidebar_list_github%></li>
            <li data-path="sources"><%= sidebar_list_sources%></li>

        <!--<li data-path="inspiration"><%= sidebar_list_inspiration%></li>
            <li data-path="motivation"><%= sidebar_list_motivation%></li>
            <li data-path="updates"><%= sidebar_list_updates%></li>
        --> 
        </ul>
    </div>
    <!--index-->
    <div class="index-aboutSection" id="index-aboutSection">
        <div class="index-aboutSection-btn" id="index-aboutSection-btn-toLeft">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <div class="index-aboutSection-btn" id="index-aboutSection-btn-toRight">
            <i class="fa-solid fa-angle-right"></i>
        </div>
        
        <p id="index-aboutSection-headline"><%= index_aboutSection_headline %></p>

        <div class="index-aboutSection-text">
            <p id="index-aboutSection-text-1"><%= index_aboutSection_text_1 %></p>
            <p id="index-aboutSection-text-2"><%= index_aboutSection_text_2 %></p>
            <p id="index-aboutSection-text-3"><%= index_aboutSection_text_3 %></p>
            <p id="index-aboutSection-text-4"><%= index_aboutSection_text_4 %></p>
        </div>
        
    </div>
    <!--skeleton-->
    <div class="footer noFocus" id="footer">
        <p id="footer-text-1"><%= footer_text_1 %></p>

        <div class="footer-ressources">
            <a href="https://jquery.com" id="footer-res1">jQuery</a>
            <a href="https://fontawesome.com" id="footer-res2">Font Awsome</a>
            <a href="https://fonts.google.com" id="footer-res3">Google Fonts</a>
            <a href="https://htmlcolorcodes.com/color-picker/" id="footer-res4">Color Picker</a>
            <a href="https://stackoverflow.com" id="footer-res5">Stackoverflow</a>
        </div>

        <p id="footer-text-2">© Felix Hohmann, 2022</p>

        <ul id="footer-langs">
            <li><a href="/de/">Deutsch</a></li>
            <li><a href="/en/">English</a></li>
        </ul>
    </div>

    <div class="bodyfaker"></div>
</body>
</html>
